.App {
  text-align: center;
}

@media(max-width:768px) {
  .App{
    border-top: 1px solid ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }.circle-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 80px 80px;
    margin-top: 296px;
    animation: move infinite 20s linear;
  }.line{
    width: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 4px;
    color: aliceblue;
    background: black;
    padding:10px;
    border-radius: 50px 50px;
  }.home-picture{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 713px;

  }
}

@keyframes move{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}