.App {
  text-align: center;
}

@media(max-width:768px) {
  .App{
    border-top: 1px solid ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }.circle-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 59px;
    height: 59px;
    border: 1px solid black;
    border-radius: 50px 50px;
    margin-top: 296px;
  }.line{
    width: 30px;
    display: flex;
    border: 1px solid black;
    margin: 4px;
  }
}